<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
    <add name="demodbEntities" connectionString="metadata=res://*/database.Modeldatabase.csdl|res://*/database.Modeldatabase.ssdl|res://*/database.Modeldatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=казинак;initial catalog=demodb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="DemoPrimer.Properties.Settings.demodbConnectionString"
        connectionString="Data Source=казинак;Initial Catalog=demodb;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings></configuration>